<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
        <add name="test" connectionString="server=.;database=test;user=sa;pwd=123"/>
    </connectionStrings>
    <appSettings>
        <add key="FCKeditor:UserFilesPath" value="Files/"/>
        
    </appSettings>

</configuration>
