    .all
    {
        width:1270px;
        margin:auto;
        background-image:url(../image/background.png);
        background-repeat:repeat-x;
    }
    .header
    {
        height:110px;
    }
    .main
    {
        width:970px;
    }
    .title
    {
        width:970px;
        height:275px;
        background-image:url(../image/default2.jpg);
        margin-left:150px;
    }
    .email
    {
        width:970px;
        height:73px;
        background-image:url(../image/email.gif);
        margin-left:150px;
        background-repeat:no-repeat;
    }
    .footer
    {
        width:1270px;
        height:125px;
        background-image:url(../image/footer-bg.png);
        background-repeat:repeat-x;
        text-align:center;
        line-height:50px;
    }
    .news
    {
        width:970px;
        height:210px;
        margin-left:150px;
    }
    .nleft
    {
        width:400px;
        height:210px;
        float:left;
    }
    .ncenter
    {
        width:340px;
        height:210px;
        float:left;
    }
    .nright
    {
        width:230px;
        height:210px;
        float:left;
    }
    img
    {
        margin-top:17px;
    }
    .ntul
    {
        list-style-type:none;
        padding:0px;
        margin-left:5px;
        font-size:14px;
    }
    .ntli
    {
        float:left;
        width:75px;
        border-bottom:solid 1px #cacdd4;
        background-color:#73a0be;
        height:23px;
        line-height:23px;
        color:White;
        text-align:center;
        font-style:italic;
    }
    .ntli2
    {
        float:left;
        width:75px;
        border-bottom:solid 1px #cacdd4;
        background-color:#91bedc;
        height:23px;
        line-height:23px;
        color:White;
        text-align:center;
        font-style:italic;
    }
    .ntlim
    {
        float:left;
        width:90px;
        height:23px;
        border-bottom:solid 1px #cacdd4;
        text-align:right;
        line-height:23px;
    }
    a
    {
        text-decoration:none;
    }
    .newsul
    {
        padding:0px;
        font-size:14px;
        padding:30px;
    }
    .newsli
    {
        margin-top:15px;
    }